<!DOCTYPE html>
<html>
  <head>
    <title>Trello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ヘッダーの追加 %>
    <header class="header">
      <nav class="nav">
        <ul class="header_menu">
          <li class="nav-link">〇〇さん</li>
          <li class="header_menu_title"><%= link_to "kanban", root_path, class: "nav-link" %></li>
          <li>
            <ul class="header_menu_inner">
              <li>
                <%= link_to "#", class: "nav-link" do %>
                  <span class="mr-1">リストを作成</span>
                  <i class="fas fa-edit"></i>
                <% end %>
              </li>
              <li><%= link_to "サインアウト", "#", class: "nav-link" %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <%= render 'partial/header' %>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
